/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
    }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    }

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:"Montserrat" "Arial", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 2;
    background-color: #F7F7FE;
    background-image: url(../images/draw2.png),
      url(../images/draw1.png);
    background-position: left -120px bottom -460px,
      right -100px top -100px;
    background-repeat: no-repeat;
    color: #6E728E;
    }

img {
    max-width: 100%;
    height: auto;
    }
.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */
.button {
  display: inline-block;
  margin: 0;
  padding: 12px;
  border: 0;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 13px;
  line-height: normal;
  letter-spacing: 1.4px;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.4s ease,
    color 0.4s ease;
}
.button-block {
  display: block;
  width: 100%;
}
.button-primary {
  background-color: #6D72DE;
  color:#fff;
}
.button-primary:hover{
  color: #6D72DE;
  border: 2px solid #6D72DE;
  background-color: #fff;
}

.button-white {
  color: #6D72DE;
  background-color: #fff;
}  
.button-white:hover{
  color: #fff;
  border: 2px solid #fff;
  background-color: unset;
}

  /* CONTAINER */
.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    }


  /* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
    }

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 70px;
}
.site-title {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 40px;
}
.pricing-switch{
  margin-bottom: 64px;
}
.switch{
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch-label{
  font-size: 15px;
  line-height: 28px;
  color: rgba(109, 114, 222, 0.5);
  cursor: pointer;
}
.switch-control{
  width: 56px;
  height: 32px;
  padding: 4px;
  margin-left: 24px;
  margin-right: 24px;
  position: relative;
  border-radius: 16px;
  background-color: #6D72DE;
}
.switch-circle{
  width: 24px;
  height: 24px;
  border-radius:50%;
  background-color: #fff;
  transition: margin 0.2s ease;
}
.switch-control-annualy,
.switch-control-monthly{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.switch-label:hover{
  color: #6D72DE;
}
.switch-control-annualy:checked ~ .switch-control .switch-control-monthly{
  transform: translateY(-10px);
}
.switch-control-monthly:checked ~ .switch-control .switch-control-annualy{
  transform: translateY(-10px);
}
.switch-input-annualy:checked ~ .switch-control .switch-control-monthly,
.switch-input-monthly:checked ~ .switch-control .switch-control-annualy{
  z-index: 5;
}
.switch-input-monthly:checked ~ .switch-control .switch-circle{
  margin-left: 24px;
}
.pricing {
  width: 100%;
}
.pricing-inner {
  display: flex;
  align-items: center;
}
.pricing-plan {
  width: 350px;
  padding: 32px;
  text-align: center;
  background-color: #fff;
}
.pricing-plan-best {
  padding-top: 55px;
  padding-bottom: 55px;
  border-radius: 10px;
  background-color: #6D72DE;
  color: #fff;
}
.pricing-plan:first-child{
  border-radius: 10px 0 0 10px;
}
.pricing-plan:last-child{
  border-radius: 0 10px 10px 0;
}
.pricing-plan-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 24px;
}
.pricing-plan-price {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  line-height: 72px;
}
.pricing-plan-price-currensy {
  font-size: 40px;
  line-height: 40px;
  margin-right: 8px;
}
.pricing-plan-list {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  list-style: none;
  border-top: 1px solid rgba(110, 114, 142, 0.25);
}
.pricing-plan-best .pricing-plan-list{
  border-top: 1px solid rgba(239, 239, 239, 0.25);
}
.pricing-plan-list-item {
  padding: 12px;
  border-bottom: 1px solid rgba(110, 114, 142, 0.25);
}
.pricing-plan-best .pricing-plan-list-item{
  border-bottom: 1px solid rgba(239, 239, 239, 0.25);
}
